aiohappyeyeballs
aiohttp
aiosignal
altair
annotated-types
anyio
attrs
beautifulsoup4
blinker
cachetools
camelot-py
certifi
cffi
chardet
charset-normalizer
click
colorama
contourpy
cryptography
cycler
dataclasses-json
deepseek
distro
dnspython
entrypoints
et_xmlfile
faiss-cpu
Faker
favicon
filelock
Flask
fonttools
frozenlist
fsspec
gitdb
GitPython
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
googleapis-common-protos
greenlet
h11
htbuilder
httpcore
httplib2
httpx
httpx-sse
huggingface-hub
idna
itsdangerous
Jinja2
jiter
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
kiwisolver
langchain
langchain-community
langchain-core
langchain-openai
langchain-text-splitters
langsmith
lxml
Markdown
markdown-it-py
markdownlit
MarkupSafe
marshmallow
matplotlib
mdurl
more-itertools
mpmath
multidict
mypy-extensions
narwhals
networkx
numpy
oauthlib
openai
opencv-python-headless
openpyxl
orjson
packaging
pandas
pdfminer.six
pillow
plotly
prometheus_client
propcache
proto-plus
protobuf
pyarrow
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic-settings
pydantic_core
pydeck
Pygments
pymdown-extensions
pymongo
PyMuPDF
pyparsing
pypdf
PyPDF2
pypdfium2
python-dateutil
python-dotenv
pytz
PyYAML
referencing
regex
requests
requests-oauthlib
requests-toolbelt
rich
rpds-py
rsa
safetensors
setuptools
six
smmap
sniffio
soupsieve
SQLAlchemy
st-annotated-text
st-theme
streamlit
streamlit-camera-input-live
streamlit-card
streamlit-embedcode
streamlit-extras
streamlit-faker
streamlit-image-coordinates
streamlit-keyup
streamlit-toggle-switch
streamlit-vertical-slider
sympy
tabulate
tenacity
tiktoken
tokenizers
toml
torch
torchaudio
torchvision
tornado
tqdm
transformers
typing-inspect
typing_extensions
tzdata
uritemplate
urllib3
validators
watchdog
Werkzeug
yarl
